<app-header></app-header>
<div class="row" style="padding-bottom: 1%;"></div>
<div class="row" style="margin: 1%;">
    <h5>Listado de solicitudes aprobadas</h5>
    <br>
    <br>
    <table class="table table-striped table-responsive" style="padding: 1%;">
        <thead>
            <tr>
                <th scope="col">Fecha de solicitud</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rut</th>
                <th scope="col">Grupo</th>
                <th scope="col">Estado</th>
                <th scope="col">Dias</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Motivo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.fecha | date: 'dd-MM-yyyy' }}</td>
                <td>{{ solicitud.trabajador.nombre }}</td>
                <td>{{ solicitud.trabajador.apellido }}</td>
                <td>{{ solicitud.trabajador.rut }}</td>
                <td>{{ solicitud.trabajador.grupo.nombre }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>{{ solicitud.dias }}</td>
                <td>{{ solicitud.fecha_inicio | date: 'dd-MM-yyyy' }}</td>
                <td>{{ solicitud.fecha_termino | date: 'dd-MM-yyyy'}}</td>
                <td>{{ solicitud.motivo }}</td>
           </tr>
        </tbody>

    </table>
</div>
