<div class="global-container" style="padding-top: 10%; padding-bottom: 23%;">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Ingreso De Usuario</h3>
            <div class="card-text">
                <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form>
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1" >Email </label>
                        <input type="email" #email class="form-control form-control-sm" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" >Password</label>
                        <input type="password"  #password class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button type="button" class="btn btn-primary btn-block" (click)="login(password.value,email.value)">Ingresar</button>
                </form>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="estado===1">
            {{ mensaje }}
        </div>
    </div>
    
</div>